---
layout: compress
published: true
---
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
{% include demo_header.html %}
<body>
  <div class="container site-wrapper">
		<div class="row inner-wrapper">
		  <div class="terminal"></div>
		</div>
  </div>
  <div class="settings">
	<details>
		<summary><b>Advanced Settings</b></summary>
		<div>
			<div class="form-group", id="num_candidates_form">
				<label for="num_candidates_form"><b>Response Quality</b> (the better the quality, the longer it takes.): </label>
				<input type="radio", name="num_candidates", value=1000 /> Standard &nbsp;
				<input type="radio", name="num_candidates", value=10000 checked="checked"/> Good &nbsp;
				<input type="radio", name="num_candidates", value=100000 /> Excellent
			</div>
			
			<div class="form-group", id="persona_form">
				<label for="persona_field"><b>Persona</b>: </label>
				<input type="text", id="persona_field" />
				<button id="persona_button" title="You can set up to four personas, separated by ;.">Set</button>
			</div>
		
			<div class="form-group", id="topic_form">
				<label for="topic_field"><b>Topic</b>: </label>
				<input type="text", id="topic_field" />
				<button id="topic_button" title="You can set one topic.">Set</button>
			</div>
			
		</div>
	</details>
  </div>

	{% include demo_footer.html %}
</body>
</html>